.container{
    width: 100%;
    
    margin-top: 10%;
}
.formulario{
    width: 50%;
    margin: auto;

}
input{
   
    width: 100%;
}
.respuesta{
    max-width: 60%;
    
    border:1px solid;
   margin-top: 100px;
   margin-left: auto;
   margin-right: auto;
   padding: 20px;
}